
/* pied de page */
.footer{
    background-color: $background-footer;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 18px;
    .footer__titre{
        font-family: 'Shrikhand', cursive;
        text-align: left;
        color: white;
        padding: 0.3rem;  
    }
    .footer__description{
        color: white;
        text-align: left;

        .fa-utensils{
            margin-right: 13px;
        }
        .fa-hands-helping{
            padding-right: 6px;
        }
        
        p{
            padding-bottom: 3rem;
            padding: 3px;
        }
    }
}
