@import "../utils/variables.scss";

/* loader */

.loading{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    height: 100vh;
    inset: 0;
    z-index: 1;
    animation: disappear 3s ease-in-out forwards;
    
    h2{
        font-family: 'Shrikhand', cursive;
        font-size: 40px;
    }

    .loader{
        display: flex;
        justify-content: space-evenly;
        width: 10rem;
        height: 4rem;
        &__bar{
            height: 100%;
            width: 1rem;
            animation: loader 1s backwards infinite alternate ease-in-out;
            @for $i from 1 through 5 {
                &:nth-child(5n + #{$i}){
                  animation-delay: #{($i) * 0.2}s;
                  background: nth($loader-color, $i);
                }
            }
        }
    }
}

@keyframes disappear {
    0%{
        opacity: 0.9;
    }
    50%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes loader {
    0%{
        transform: scaleY(0.5);
    }
    100%{
        transform: scaleY(1);
    }
}
