@import "../utils/mixins.scss";
@import "../utils/variables.scss";

/* section explorer */

.explorer{
    background-color: $background-restos;
    text-align: center;
  & h2{
    font-size: 2rem;
    padding-top: 2rem;
    margin-top: 0rem;
    font-size: 2rem;
  }
  & p{
    font-size: 1rem;
    color:gray;
  } 
  & button{ 
    @include base-button;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}
  