@mixin base-shadow {
    box-shadow: 2px 1px 8px -3px #000000;
}

@mixin zoom {
    transform: scale(1.02);
}

@mixin gradient {
    background-image: linear-gradient(to top, $couleur-primaire, $couleur-secondaire);
}